.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0 50px 0 0;
}

.spacer {
  flex: 1;
}

.content {
  margin: 60px 0 0 0;
  padding: 50px;
}

.schema-toggle {
  cursor: pointer;
}
